* {
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}
body {
    width:100%;
}
table {
    width:100%;
}
th {
    padding: 2vw;
    font-weight: bold;
    text-align: left;
}
td {
    padding: 2vw;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr.past {
    color: bfbfbf;
}
tr.thisStart {
    background-color: yellow;
}
input {
    font-size: 6vw;
}