* {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
}
body {
    width:90%;
    padding:5%;
}
table {
    width:100%;
}
th {
    padding: 2vw;
    font-weight: bold;
    text-align: left;
}
td {
    padding: 2vw;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr.past {
    display:none;
}
tr.thisStart {
    background-color: yellow;
}
input {
    font-size: 6vw;
}

.bigcounter {
    font-size:24vw;
    color:green;
    font-weight:bold;
    text-align:center;
}
#edit {
    font-size: 2vw;
}